body {
}

p.MainText{
    text-transform: capitalize;
    color : red;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
    
}


img
{
    height : 300px;
    width : 300px;
}
img.opacity
{
    opacity: 0.2;
    filter: alpha(opacity=20)
}