img.rot3D{
    -webkit-transform: rotateX(120deg); 
}

div.animation{     
    width:600px;  
     position: relative;
    -webkit-animation: myfirst 5s; 
    animation: myfirst 5s;
}

@-webkit-keyframes myfirst {
    0%   {background:red; left:0px; top:0px;}
    25%  {background:yellow; left:400px; top:0px;}
    50%  {background:blue; left:400px; top:200px;}
    75%  {background:green; left:0px; top:200px;}
    100% {background:red; left:0px; top:0px;}
}}
